<!--CSS-->
<style>
table, th, td {
  border: 3px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}

h1 {
    border: 10px solid white;
    border-collapse: collapse;
    background-color: rgb(20, 200,200 ); 
}

button{
  border: none;
  background-color: rgb(20, 150,150 );
}

</style>
<!--CSS-->


<h1> Articles Listing Page</h1>
<table>
<thead>
<tr>
<th>Title</th>
<th>Description</th>
<th colspan="3">Actions</th>
</tr>
</thead>
<tbody>
<% @articles.each do |article| %>
<tr>    
<td><%= article.title%> </td>
<td><%= article.description%> </td>
<td><%= link_to 'Show', article_path(article) %></td>
<td><%= link_to 'Edit', edit_article_path(article) %></td>
<td><%= link_to 'Delete', article_path(article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'  }%></td> 
</tr>
<% end %>
</tbody>

</table>

<button><h2><%= link_to 'Create new article', new_article_path %></h2></button>